* {
    box-sizing: border-box;
}
body {
    text-align: center;
}

.name {
    color: rgb(224 55 110);
}

p {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgb(241 146 158);
    font-size: 18px;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
}
.bold {
    font-weight: 700;
    color: #790540;
}

a {
    text-decoration: underline;
    color: rgb(187, 12, 108);
}
img {
    width: 245px;
    height: 290px;
    margin-top: 10px;
    border: 1px solid rgb(165, 160, 160);
    border-radius: 4px;
    padding: 5px;
    margin-left: 20px;
}
.pictures {
    overflow: hidden;
    display: inline-block;
}
.pictures img {
    float: left;
}

figure {
    margin: 0;
    display: inline-block;
}
figcaption {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: small;
    margin-left: 12px;
}
figure img {
    vertical-align: top;
}
hr {
    border-top: 3px dotted #e07;
}
.introduction {
    font-weight: 800;
    color: #e07;
    margin-bottom: 10px;
}

#vlog {
    font-weight: 800;
    color: cadetblue;
}
